<form action="/answer" >
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>

<!-- <form action="/answer" method="GET">
  <input type="text" name="query" /> 
  <input type="submit" /> 
</form> -->
